#MainMenu {
    width: fit-content;
    color: #E85F5C;
    margin-left: auto;
    margin-right: auto;
    font-family: "Bungee", sans-serif;
}

.subtitles {
    color: #773344;
    font-weight: bold;
    text-decoration: underline;
    font-size: 40px;
    font-family: "Bungee", sans-serif;
}

.items {
    margin-left: 40px;
    font-family: "Bungee", sans-serif;
}